<h1><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
    Senior security leader, with over 20 years’ experience in information security engineering and architecture. Experienced in leading teams both from a project management and technical perspective, defining security roadmaps, understanding business requirements, engineering secure solutions, security testing & evaluations, and designing & testing business continuity/disaster recovery solutions for a variety of clients to include small security boutiques to large government contractors. Strong relationships with business teams to include excutive level management, helping them understand how security can be used as a business enabler. 

    Member and mentor to team UltraMegaChicken, a Maryland baased CTF Team. 

    Certifications include: CISSP, CEH, Pentest+, CRISC, CISM, C|CISO and ITIL 2011 Foundation. 

     The views expressed in this blog are my own and do not represent that of my employer (past or present) or any organization/group I am a member of, unless specifically stated as such.
</div>
